@model Training1.Models.Sesshin

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Sesshin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole(Constants.UserChefRole))
            {
                <input type="hidden" asp-for="AppUserId" value="@UserManager.GetUserId(Context.User)" />
            }
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" spellcheck="false" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" data-val-greaterthanstartdate="End date must be greater than start date" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            @if (User.IsInRole(Constants.UserAdministratorsRole)) { 
                <div class="form-group">
                    <label asp-for="AppUserId" class="control-label"></label>
                    <select asp-for="AppUserId" class="form-control" list-role="@Constants.UserChefRole">
                    </select>
                    <span asp-validation-for="AppUserId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
