@model IEnumerable<IdentityRole>





<div class="table-responsive">
    <table class="table table-dark table-striped">
        <tr class="table-primary">
            <th>Role</th>
            <th>Users</th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr><td colspan="3" class="text-center">No Roles</td></tr>
        }
        else
        {
            foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td identity-role="@role.Id"></td>
                    <td>
                        <a class="btn btn-sm btn-primary float-right" asp-action="Edit" asp-controller="RoleAdmin"
                           asp-route-id="@role.Id">Edit Members</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
