@model AccountViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @(Model.ActiveTab == ActiveTab.Accounts ? "active" : "")" asp-action="Index" asp-route-tab="@ActiveTab.Accounts">Accounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(Model.ActiveTab == ActiveTab.Roles ? "active" : "")" asp-action="Index" asp-route-tab="@ActiveTab.Roles">Roles</a>
        </li>
    </ul>

    <div class="tab-content">
        @switch (Model.ActiveTab)
            {
                case ActiveTab.Accounts:
                    @await Component.InvokeAsync("AccountsList", new { searchStr = Model.SearchStr });
                    break;
                case ActiveTab.Roles:
                    @await Component.InvokeAsync("RolesList");
                    break;
                default:
                    @await Component.InvokeAsync("AccountsList", new { searchStr = Model.SearchStr });
                break;

            }
    </div>
</div>
